body{ 

    font-family: 'Times New Roman';  
    background-color: lightgrey;
    color: black
} 

h1 { 
    color:#200303; 
    background-color: rgb(6, 59, 42);
} 

img{ 
    height: 100px; 
    text-align: left;
} 

figcaption span { 
    font-size: .85em; 
} 

p#movie-description { 
    margin: 20px 0 20px 0; 
    text-align:justify;
} 

div.Review { 
padding: 10px; 
background-color:rgb(3, 26, 46);  
color: white;
margin: 20px 0 20px 0;
}